.columns {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.aside {

    transition: all .3s ease-in;
    
    @include touch {
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 3;
        box-shadow: -2px 15px 37px -10px #000000;
    }
}