aside.aside#menuAdmin.column.is-2.is-fullheight.section.invisible-on-touch.is-full-touch
    p.menu-label Administrador
    ul.menu-list
        li
            a(href="users.html") Usuarios
            ul 
                li
                    a(href="registry_user.html") Registrar
    p.menu-label Informes
        ul.menu-list
            li
                a(href="bitacora.html") Bitácora
    hr
    a.button.is-light.is-danger.is-fullwidth(href="#") Logout