nav.navbar.has-shadow.is-justify-content-center(role="navigation" aria-label="main navigation")
    .navbar-brand
        .navbar-item
            h1 Administrador
        a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="menuAdmin")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")